@charset "utf-8";

.thasadith-regular {
  font-family: "Thasadith", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

body{
background-color: rgb(252, 252, 245);
color: #000000;
}


.header {
text-align: center;
background-color: antiquewhite;
}

.img-head{
    width: 100% ;
}

.f{
  background-color: antiquewhite;
  color: #000000;
  padding: 20px 0;
  border: 2px solid rgb(250, 224, 191);
  border-radius: 8px;
  box-sizing: border-box;
  width: 80%  ;
  text-align: center;
  clear: both;
  margin: 0 auto;
}



.ul-ber {
  list-style-type: none;
  margin: 0 ;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.li-ber {
  float: left;
}

.li-ber a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li-ber a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
.ber{
    width: 1500px;
    margin: 0px auto;}

.c{
  width: 80%;
  clear: both;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: antiquewhite ;
  padding: 10px;
  border: 2px solid rgb(250, 224, 191);
  border-radius: 8px;
  box-sizing: border-box;

}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;

}

.TB-C{
  font-size: 32px;
  font-weight: bold;
}
.TB-F{
  font-size: 20px;
  font-weight: bold;
}
.indent {
    text-indent: 2em;
}